{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "commonjs": true,
        "es2020": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "rules": {
        "linebreak-style": "off",
        "avoidEscape": true,
        "allowTemplateLiterals": true,
        "objectsInObjects": true
    }
}